.record-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(-45deg,rgba(23, 12, 91, 1),rgba(31, 111, 96, 1));
    height: 100vh;
    
}

.record-text{
    color: white;
    font-family: "Azeret Mono", monospace;
    letter-spacing: 3px;
    font-size: 70px;
    font-weight: 600;
    margin: 15px;



}
.record-input-box{
width: 90%;
margin-top: 15px;
display: flex;
flex-direction: column;
  
justify-content: center;
align-items: center;
}


.record-input{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 80%;
}

.desc-box{
    width: 100%;
}
.data-record{
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

input{
    background-color: rgb(48, 47, 47);
    color: rgb(29, 29, 29);
    border-radius: 20px;
    font-size: 28px;
    font-family: "Anek Bangla", sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
    border: solid transparent;

}
input:focus{
    background-color: rgb(28, 28, 28);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 28px;
    font-family: "Anek Bangla", sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
    border: solid transparent;

}



.description-item{
    width: 100%;
    color: white;
    background-color: rgb(54, 54, 54);
}

.description-item:focus{
    color: white;
    background-color: rgb(31, 31, 31);
}

.input-record{
    color: white;
    font-weight: 300;
}



.button-record{
    width: 100%;
    color: white;
}

.add-record-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    border-radius: 15px;
    width: 100%;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 5px solid #b46436;
    transition: 0.3s;
    background-color: #ebb754;
  }
  
.original-button:hover {
    border-bottom-width: 0;
    transform: translateY(5px);
}

.selectbox-category {
	cursor: pointer;
	outline:0;
	color: #333333;
	font-size: 17px;
	padding: 9px 10px;
	min-width: 150px;
	font-weight: bold;
	border-radius: 17px;
	border: 3px solid #d6d6d6;
	background-color: #ffffff;
}
.category{
    width: 30%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: 10px;

}

.amount-box ,.category, .date-picker{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.category-item{
    font-family: "Anek Bangla", sans-serif;
    width: 90%;
    font-weight: 500;
    letter-spacing: 5px;
    border-radius: 18px;
    font-size: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-left: 9px;
    background-color: #333333;
    color: white;
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
        display: none;
      }

.dropdown-menu{
    height: 100%;
    border-radius: 10px;
    font-size: 24px;
    font-family: "Anek Bangla", sans-serif;

}


.date-picker{
    color: white;
    font-family: "Anek Bangla", sans-serif;
    font-weight: 300;

    display: flex;
    flex-direction: column;
    
}

.label-date{
    letter-spacing: 3px;
}

.button-record{
    display: flex;
    margin: 20px;
    column-gap: 20px;
    width: 80%;
}
.direct-link{
    text-decoration: none;
    color: white;
    width: 100%;

}

.button-19 {
    appearance: button;
    background-color: #10597a;

    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
  }
  
  .button-19:after {
    text-decoration: none;
    width: 100%;
    background-clip: padding-box;
    background-color: #b73220;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  
.button-20 {
    appearance: button;
    background-color: #10597a;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
  }
  
  .button-20:after {
    background-clip: padding-box;
    background-color: #0a2f40;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  
  .button-19:main,
  .button-19:focus,
  .button-20 {
    user-select: auto;
  }
  
  .button-19:hover:not(:disabled), .button-20:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.3);
  }
  
  .button-19:disabled,  .button-20:disabled {
    cursor: auto;
  }
  
  .button-19:active,  .button-20:active {
    border-width: 4px 0 0;
    background: none;
  }
